NET "reset"  LOC = C17  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;  #DP 8   IO_L29P_A23_M1A13_1        Sch = DP1   
NET "clk"    LOC = "V10"| IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "red[0]" LOC = "A9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[1]" LOC = "B9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "red[2]" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "green[0]" LOC = "C10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[1]" LOC = "A10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "green[2]" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "blue[0]" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "blue[1]" LOC = "A11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

NET "hsync" LOC = "B12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "vsync" LOC = "A12" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;


NET "nextIMG" LOC = C18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #SW1    IO_L47N_LDC_M1DQ1_1         Sch = SW1 
#NET "nextIMG[1]" LOC = D17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #SW2    IO_L46N_FOE_B_M1DQ3_1       Sch = SW2
NET "previousIMG" LOC = D17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP; #SW2    IO_L46N_FOE_B_M1DQ3_1       Sch = SW2
